{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Typing Speed Game{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


        
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">


            <p>Welcome {{ user.username }}</p>
            {% if user.is_authenticated %}
            
            <script>
                var isAuthenticated = true
            </script>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
            <div id="scores">
                <p>Best Score: <span id="best-score">{% if best_score %}{{ best_score }}{% else %}N/A{% endif %}</span></p>
                <p>Latest Score: <span id="latest-score">{% if latest_score %}{{ latest_score }}{% else %}N/A{% endif %}</span></p>
            </div>

            </form>
            {% else %}

            <script>
                var isAuthenticated = false
            </script>


            <a href="{% url 'register' %}"
                class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
            <a href="{% url 'login' %}"
                class="px-6 py-3 text-lg font-semibold bg-grey-500 text-white rounded-xl hover:bg-grey-700">Login</a>


            {% endif %}
            </nav>
        </div>
    </header>

    <!-- Main Content Section -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Typing Speed Game. All rights reserved.</p>
        </div>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>