{% extends 'base.html' %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
<div class="content-wrapper">

<h1>If you have any questions or request, feel free to contact me.</h1>
<!-- Email Button -->
<a href="mailto:akibodejoan@gmail.com" style="display:inline-block; background-color:#f81111; color:white; padding:14px 25px; text-align:center; text-decoration:none; margin:4px 2px; cursor:pointer;">Email Me</a>
<!-- LinkedIn Link -->
<a href="https://www.linkedin.com/in/joan-akibode/" target="_blank" style="display:inline-block; background-color:#0077B5; color:white; padding:14px 25px; text-align:center; text-decoration:none; margin:4px 2px; cursor:pointer;">LinkedIn</a>
<p>mail: akibodejoan@gmail.com</p>

</div>


{% endblock %}